body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  text-align: center;
}

/* Menu */
nav {
  background: #222;
  padding: 30px 0;
}

nav a {
  margin: 0 40px;
  text-decoration: none;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: royalblue;
}

/* Texto abaixo */
#descricao {
  margin-top: 40px;
  font-size: 26px;
  color: #fff;
}
